*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

/* this is for navigation bar */
.navbar{
    height: 60px;
    width: 100%;
    background: #131921;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}
.border{
    border:1px solid transparent;
    border-radius: 2%;
}
.border:hover{
    border:1px solid white;
    border-radius: 2%;
}


/* this if for the logo of navigation bar */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("pics/logo.png");
}


/* dilivary address box */
/* .nav-address{
    height: 50px;
    width: 100px;
} */
.address-icon{
 display: flex;
 align-items: center;
}
.dilivary-to{
    color: #ccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.dilivart-country{
    color: #fff;
    font-size: 1rem;
    margin-left: 3px;
}

/* search bar at the header*/
.search-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid transparent;

}
.search-bar:hover{
    border: 3px solid #ff9900;
    background-color: #ff9900;
    border-radius: 3px;
}

.searrch-select{
    background-color: #f3f3f3;
    height: 40px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;

}
.search-input{
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ff9900;
    color: #131921;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* account and orders */
span{
    font-size: 0.7rem;
}
.nave-font{
    font-size: 0.90rem;
    font-weight: 700;
}

/* cart */
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* /panel */
.panel{
height: 40px;
background-color: #222f3d;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 14px;
position: relative;
top: 60px;
box-sizing: border-box;
}

.effect{
 color: white;
}
.effect:hover{
    color: #ff9900;
}

.panel-all{
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.panel-all i{
    font-size: 1.2rem;
}
.panel-all p{
    margin-left: 4px;
    font-weight: 700;
}
.panel-options{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* hero section  */
.hero-section{
    height:300px;
    background-image: url("pics/top.jpg");
    background-size: cover;
    margin-top:60px ;
}
.hero-msg{
    background-color: rgba(255, 255, 255, 0.898);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    top: 250px;
}
.hero-msg a{
    color: #007185;
}

/* contain */
.contain-row{
    height: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: #FBF1E7;
    padding: 8px;

}

.box{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 8px;
    box-sizing: border-box;
    padding: 20px 16px 15px;
    /* align-items: center; */
}

.box h2{
    font-size: 20px;
    height: 60px;
}
.box p{
    color: #007185;
}

.box-image{
    height: 70%;
    width: 100%;
    margin-bottom: 4px;
    background-color: transparent;
}

.img1{
    background-image: url("pics/1.jpg");
    background-size: cover;
}
.img2{
    background-image: url("pics/2.jpg");
    background-size: cover;
}
.img3{
    background-image: url("pics/3.jpg");
    background-size: cover;
}
.img4{
    background-image: url("pics/4.jpg");
    background-size: cover;
}

.img5{
    background-image: url("pics/5.webp");
    background-size: cover;
}
.img6{
    background-image: url("pics/6.webp");
    background-size: cover;
}
.img7{
    background-image: url("pics/7.jpg");
    background-size: cover;
}
.img8{
    background-image: url("pics/8.jpg");
    background-size: cover;
}

/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #374751;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 a{
    display: block;
}
.foot-panel2 p{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 40px;
}
.foot-panel2 a{
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.3px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.bottom-logo{
    height: 90%;
    width: 130px;
    background-size: cover;
    background-image: url("pics/logo2.png");
}

.foot-panel4{
    height: 70px;
    background-color: #131921;
    color: white;
    font-size: 0.80rem;

}
.foot-panel4 div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4 div a{
    margin-right: 15px;
}
